.containerStyle {
    display: inline-block
}
.inputStyle {
    max-width: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 0;
    background-color: #90a4ae;
}
.inputTextStyle{
    max-width: 300px;
    text-align: center;
    color: black;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #90a4ae;
}
.inputErrorStyle {
    max-width: 300px;
    text-align: center;
    color: red;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #90a4ae;

}
