body{
  background-color: #fff9c4;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  min-height: 512px;
}
.error{
  color: red;
}
.errorInput{
  border: 3px solid red;
  background-color: #F97F7F
}
input:focus{
  outline: none;
}

@media screen and (max-width: 760px) {
  .container{
    display: inline-block;
  }
}