body{
  background-color: #fff9c4;
}
.App {
  text-align: center;
  height: 1024px;
}
.error{
  color: red;
}
.errorInput{
  border: 3px solid red;
  background-color: #F97F7F
}
input:focus{
  outline: none;
}
